{% extends "base.html" %}
{% block title %}Patients{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4">Patients (Read Only)</h2>

<table class="table table-striped shadow-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for p in patients %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.age }}</td>
            <td>{{ p.gender }}</td>
            <td>{{ p.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
